input[type="button"]{
    text-align: center;
    padding: 10px;
    border:none;
    border-radius: 10px;
    width: 100%;
    background-color: antiquewhite;
}

input[type="text"]{
    border: 1px solid;
    text-align: right;
    border:none;
    border-radius: 10px;
    width:100%;
    
}